* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
}

/* tulisan about me */
h1{
    font-family: "Asap";
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;

    color: var(--secondary-color);
}

.highlight {
    background: #232953;
    border-radius: 10px;
    padding: 0 10px;
}

.greeting {
    display: flex;
    justify-content: center;
    padding-top: 8rem;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.akordion {
    max-width: 700px;
    padding: 3rem 2rem;
    margin: auto;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}
  
/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* accordion icon */
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* changing themes and shit */
:root {
    --primary-color: #00604A;
    --secondary-color: #FFA53F;
}

[data-theme="dark"] {
    --primary-color: #FFA53F;
    --secondary-color: #FFFFFF;
}

/* theme switch position */
#switch {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

#switch em{
    color: #FFFFFF;
}

/* content of accordion */
.content p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;

    color: #000C10;
}

.content h4{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    color: #000C10;
}

.content h5{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    color: #000C10;
}

#aktivitas p{
    padding-top: 1rem;
}

#organisasi, #pencapaian{
    padding-top: 1rem;
}

/* theme switch */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
}
  
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
  
.theme-switch input {
    display:none;
}
  
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
  
.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}
  
input:checked + .slider {
    background-color: #66bb6a;
}
  
input:checked + .slider:before {
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* responsive properties */
@media(max-width: 600px){
    h1{
        font-size: 3rem;
    }
}

@media(max-width: 400px){
    h1{
        font-size: 2.5rem;
    }
}

@media(max-width: 350px){
    h1{
        font-size: 2rem;
    }
}
  