{% load static from staticfiles %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->

    <title>astrida nayla.</title>
</head>

<body>

    <div class="greeting">
        <h1><span class="highlight">halo, apa kabar?</span></h1>
    </div>

    <div class="isian">
        <form action="." method="POST">
            {% csrf_token %}
            <div class="formulir">
                {{formulir}}
            </div>

            <div class="tombol">
                <input type="submit" class="submit" value="Tambah Status">
            </div>
        </form>
    </div>

    <div class="kebawah position-relative overflow-hidden text-center">
        <h5>lihat entri status</h5>
        <i class="fa fa-angle-down" style="font-size:32px;"></i>
    </div>

    <div class="entries">
        <h4>Posting Status</h4>
        <hr> 

        {% for object in status %}

        <div class="cont" id="wrapper_content">
            <div class='top'>
                <p class="tanggal" style="margin: 0;">
                    Posted on : {{object.date}}
                </p>
            </div>
            <div class='bottom'>
                <p class="statusnya">
                    {{object.status}}
                </p>
            </div>
        </div>

        {% endfor %}

    </div>

    <!-- Optional JavaScript -->
    <script src="{% static 'home/js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'home/js/popper.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'home/js/jquery.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'home/js/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'home/js/scrolling-nav.js' %}"></script>

</body>
</html>