* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00604A;
}

h1{
    font-family: "Asap";
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;

    color: #FFA53F;
}

p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: #FFFFFF;
}

ul, label {
    display: none;
}

a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: #FFFFFF; 
}

a:hover {
    color: #FFA53F; 
}

.judul, .tulisan {
    display: flex;
    justify-content: center;
}

.tulisan {
    padding-top: 2rem;
}

.judul {
    padding-top: 12rem;
}

#formnya {
    padding-top: 2rem;
}

input {
    padding-top: 1rem;
    max-width: 200px;
    margin: auto;
}

input[type=text] {
    font-family: "Open Sans", sans-serif;
    background-color: #FFFFFF;
    border-radius: 0;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 28px;

    color: #232953;
    padding: 0.6rem 1rem;
    min-width: 400px;
}

input[type=password] {
    font-family: "Open Sans", sans-serif;
    background-color: #FFFFFF;
    border-radius: 0;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 28px;

    color: #232953;
    padding: 0.8rem 1rem;
    min-width: 400px;
}

input[type=submit] {
    background-color: transparent;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;

    color: #FFFFFF;
    padding: 0.6rem 1.5rem;
    margin-top: 1.5rem;
}

#button_signin{
    min-width: 400px;
}

.tombol{
    display: flex;
    justify-content: center;
}

.tombol input[type=submit]:hover {
    background: #FFFFFF;
    color: #00604A;
}

/* ---------------- */

.top p {
    font-family: "Asap";
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;

    color: #FFFFFF;
}

.bottom h1{
    font-family: "Asap";
    font-style: normal;
    font-weight: bold;

    color: #FFA53F;
    padding-top: 0.5rem;
}

.highlight {
    background: #232953;
    padding: 0.3rem 1.5rem;
}

.greeting {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
}

.tombolan{
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

.tombolan input[type=submit]:hover {
    background: #FFFFFF;
    color: #00604A;
}