{% load static from staticfiles %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'login/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'login/login.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->

    <title>astrida nayla.</title>
</head>

<body>

        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}

        {% if user.is_authenticated == False %}
            <div class="judul">
                <h1>Please sign in.</h1>
            </div>

            <form method="POST" id="formnya">
                {% csrf_token %}
                {{form.as_p}}
                <div class="inputan3">
                    <div class="tombol">
                        <input type="submit" class="submit" id="button_signin" value="Sign in">
                    </div>
                </div>
            </form>

            <div class="tulisan">
                <p>
                    Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
                </p>
            </div>
        {% else %}
            <div class="tombolan">
                <form action="{% url 'logout' %}">
                    <input type="submit" class="submit" value="Log out">
                </form>
            </div>
    
            <div class="greeting">
                <div class="top">
                    <p>Have a nice day,</p>
                </div>
                <div class="bottom">
                    <h1 style="font-size: 6rem;"><span class="highlight">{{user.first_name}} {{user.last_name}}.</span></h1>
                </div>
            </div>
        {% endif %}
    
        <!-- Optional JavaScript -->
        <script src="{% static 'login/js/jquery-3.3.1.slim.min.js' %}"></script>
        <script src="{% static 'login/js/popper.min.js' %}"></script>
        <script src="{% static 'login/js/bootstrap.min.js' %}"></script>
    
        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'login/js/jquery.min.js' %}"></script>
        <script src="{% static 'login/js/bootstrap.bundle.min.js' %}"></script>
    
        <!-- Plugin JavaScript -->
        <script src="{% static 'login/js/jquery.easing.min.js' %}"></script>
    
    </body>
</html>