{% load static from staticfiles %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'login/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'login/signup.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->

    <title>astrida nayla.</title>
</head>

<body>

        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}

        <div class="judul">
            <h1>Please sign up.</h1>
        </div>

        <form method="POST" id="formnya">
            {% csrf_token %}
            {{form.as_p}}
            <div class="inputan3">
                <div class="tombol">
                    <input type="submit" class="submit" value="Sign up">
                </div>
            </div>
        </form>

        <div class="tulisan">
            <p>
                Have an account? <a href="{% url 'login' %}">Sign in</a>
            </p>
        </div>
    
        <!-- Optional JavaScript -->
        <script src="{% static 'login/js/jquery-3.3.1.slim.min.js' %}"></script>
        <script src="{% static 'login/js/popper.min.js' %}"></script>
        <script src="{% static 'login/js/bootstrap.min.js' %}"></script>
    
        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'login/js/jquery.min.js' %}"></script>
        <script src="{% static 'login/js/bootstrap.bundle.min.js' %}"></script>
    
        <!-- Plugin JavaScript -->
        <script src="{% static 'login/js/jquery.easing.min.js' %}"></script>
    
    </body>
</html>