* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/* tulisan judul */
h1{
    font-family: "Asap";
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;

    color: #252C29;
}

.highlight {
    background-color: #FFFFFF;
    border: 3px solid #252C29;
    padding: 0.2rem 0.8rem;
}

.judul {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

/* tulisan judul */
input[type=text] {
    border-bottom: 2px solid #252C29;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    background-color: transparent;
    border-radius: 0;

    padding: 0.4rem;
    min-width: 400px;
}

.searchbox {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

/* table content */
.tabel{
    padding: 0 2rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

th, td{
    text-align: center;
}