{% load static from staticfiles %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'about/about.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->

    <title>astrida nayla.</title>
</head>

<body>

        <div class="theme-switch-wrapper" id="switch">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
            <em>Change Theme</em>
        </div>

        <div class="greeting">
            <h1><span class="highlight">about me.</span></h1>
        </div>

        <div class="akordion">
            <button class="accordion" id="activity">Activity</button>
            <div class="panel">
                <div class="content" id="aktivitas">
                    <p>A computer science student with keen interest in learning the tech and media world.
                    Have a high interest to work in a subject that requires creative and analytical thinking.</p>
                </div>
            </div>
    
            <button class="accordion" id="organization">Organizations/Volunteers</button>
            <div class="panel">
                <div class="content" id="organisasi">
                    <h4>Staff of Visual Design Division</h4>
                    <h5><i>COMPFEST 11</i></h5>
                    <p>Responsible for all the creative displays of COMPFEST. 
                        Everything people see from the posters, banners, 
                        instagram posts, and website UI/UX is the workof this 
                        division. I brainstorm innovative designs to boost the 
                        appeal of compfest to public eyes.</p>
                    
                    <h4>Staff of Human Resources Bureau </h4>
                    <h5><i>BEM Fasilkom UI</i></h5>
                    <p>Responsible for mantaining internal stability within BEM
                        Fasilkom UI environment through training, appreciation, 
                        and evaluation of the staffs and heads. This bureau is
                        responsible to support other bureaus performance.
                        </p>
                </div>
            </div>
    
            <button class="accordion" id="achievement">Achievement</button>
            <div class="panel">
                <div class="content" id="pencapaian">
                    <h4>Honorable Delegate</h4>
                    <h5><i>ISAFIS Model United Nations 2015</i></h5>
                    <p>Was responsible for becoming a delegate of Jamaica in representing them on the UNHRC council. we
                        spoke of issue in regards to death penalty and whether we should maintain its practice in the
                        present day or not. I won as a honorable delegate, equal to third place.
                    </p>
                </div>
            </div>
        </div>
    
        <!-- Optional JavaScript -->
        <script src="{% static 'about/js/jquery-3.3.1.slim.min.js' %}"></script>
        <script src="{% static 'about/js/popper.min.js' %}"></script>
        <script src="{% static 'about/js/bootstrap.min.js' %}"></script>
    
        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'about/js/jquery.min.js' %}"></script>
        <script src="{% static 'about/js/bootstrap.bundle.min.js' %}"></script>
    
        <!-- Plugin JavaScript -->
        <script src="{% static 'about/js/jquery.easing.min.js' %}"></script>

        <!-- Accordion JavaScript -->
        <script src="{% static 'about/about.js' %}"></script>
    
    </body>
</html>