* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00604A;
}

/* tulisan apa kabar */
h1{
    font-family: "Asap";
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;

    color: #FFA53F;
}

.highlight {
    background: #232953;
    border-radius: 10px;
    padding: 0 10px;
}

.greeting {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

/* form */
label {
    display: none;
}

input[type=text] {
    border: 4px solid #FFFFFF;
    font-family: "Open Sans", sans-serif;
    background-color: #00604A;
    border-radius: 0;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 28px;

    color: #FFFFFF;
    padding: 1.5rem 1rem;
}

input[type=submit] {
    background-color: transparent;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
    padding: 0.8rem 1rem;
    margin-top: 2rem;
}

.tombol{
    display: flex;
    justify-content: center;
}

.formulir {
    padding-top: 7rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.isian {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

/* button nunjuk ke bawah */
.kebawah h5{
    margin-top: 8rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 2.06rem;
    color: #ffffff;
    margin-bottom: 0;
}
.fa-angle-down{
    color: #ffffff;
}

/* setiap status */
hr{
    border-top: 3px solid #ffffff;
    margin: 0 3rem;
}

.entries h4{
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;

    padding-left: 3rem;
}

#wrapper_content{
    display: block;
    margin: 0;
    background-color: transparent;
    border: 1px solid #ffffff;

    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0 1rem;
}

.top p{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #ffffff;

}

.bottom p{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #ffffff;
}

.top{
    padding-top: 0.8rem;
}

.bottom{
    padding-top: 0.5rem;
}

.entries {
    padding: 8rem 0;
}


/* responsive properties */
@media(max-width: 600px){
    h1{
        font-size: 3rem;
    }
    input[type=submit] {
        font-size: 1rem;
        padding: 0.5rem 0.8rem;
    }
}

@media(max-width: 400px){
    h1{
        font-size: 2.5rem;
    }
    input[type=submit] {
        font-size: 0.8rem;
        padding: 0.2rem 0.6rem;
    }
}

@media(max-width: 350px){
    h1{
        font-size: 2rem;
    }
}