{% load static from staticfiles %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'booksearch/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'booksearch/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'booksearch/booksearch.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>astrida nayla.</title>
</head>

<body>

    <div class="judul">
        <h1><span class="highlight">Book Search.</span></h1>
    </div>

    <div class="searchbox">
        <input type="text" id="input" class="inputan" placeholder="Enter a title">  
    </div>

    <div class="tabel">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Cover</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Publisher</th>
                <th scope="col">Published Date</th>
              </tr>
            </thead>
            <tbody id="books">
            </tbody>
        </table>
    </div>
    

    <!-- Optional JavaScript -->
    <script src="{% static 'booksearch/js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'booksearch/js/popper.min.js' %}"></script>
    <script src="{% static 'booksearch/js/bootstrap.min.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'booksearch/js/jquery.min.js' %}"></script>
    <script src="{% static 'booksearch/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'booksearch/js/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'booksearch/js/scrolling-nav.js' %}"></script>

    <!-- Booksearch Ajax -->
    <script src="{% static 'booksearch/search.js' %}"></script>

</body>
</html>